<html>
<head>
  <title>All Puppies</title>
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,600,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <h1>All Puppies 🐶</h1>

  <% @websites.each do |website| %>
    <div class="website">
      <h2><%= link_to website.name, website.url, class:"website-name" %></h2>
      <ul class="list">
        <% website.puppies.each do |puppy| %>
          <li class="puppy">
            <div class="inner">
              <div class="puppy-img"><%= image_tag puppy.image_url, alt: puppy.name %></div>
              <div class="puppy-text">
                <h3 class="puppy-name"><%= link_to puppy.name, puppy.url %></h3>
                <div class="puppy-desc"><%= puppy.description %></div>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</body>
</html>
